<%= stylesheet_link_tag "about", :media => "all" %>
<div class="container">
	<div class="top-visual">
		<div class="top-visual-content">
		  <h2 class="headline">こだわり</h2><br>
			<ul>
				<li class="top-visual-text">美味しい</li>
				<li class="top-visual-text">素材へのこだわり</li>
				<li class="top-visual-text">安心・安全</li>
			</ul>
		</div>
	</div>

	<h2>お届けまでの流れ</h2>
	<div class="main-visual"></div>


	</div>
</div>
