<div class="container">
	<h2>ながのCAKE</h2>
	<h4>こだわり</h4>
	<ul>
		<li>美味しい</li>
		<li>素材へのこだわり</li>
		<li>安心・安全</li>
	</ul>

	<h4>会社概要</h4>
	<ul>
		<li>会社名</li>
		<li>住所</li>
		<li>電話番号</li>
		<li>設立年月日</li>
	</ul>

</div>

