<%= stylesheet_link_tag "about", :media => "all" %>
<div class="container">
	<div class="top-visual">
		<div class="top-visual-content">
		  <h2 class="headline">こだわり</h2><br>
			<ul>
				<li class="top-visual-text">美味しい</li>
				<li class="top-visual-text">素材へのこだわり</li>
				<li class="top-visual-text">安心・安全</li>
			</ul>
		</div>
	</div>

	<h2>お届けまでの流れ</h2>
	<div class="main-visual"></div>

	<div class="footer-back">
		<div class="about_footer">
			<footer class="col-md-offset-2">
				<h4>会社概要</h4>
				<ul>
					<li class = "footer-text">会社名: ながのCAKE</li>
					<li class = "footer-text">住所: 長野県長野市</li>
					<li class = "footer-text">電話番号: 0120-111-111</li>
					<li class = "footer-text">設立年月日: 1952年6月</li>
				</ul>
			</footer>
		</div>
	</div>
</div>
