// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {

	background: image-url("");
	background-size: cover;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.jumbotron::before {
	content: '';
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: inherit;
	filter: blur(5px);
	z-index: -1;
}

.edit {
    margin-left: 15px;
	margin-right: 15px;
}

.index {
	margin: 0 15px;
}

.indexpage {
	margin: 0 30px;
}