<!-- 未ログイン時のデフォルトヘッダー -->
<div class="row" style="margin-top: 20px;">
<!-- HOME -->
<li class="list-item col-md-offset-4 col-md-2">
  <% body = capture do %>
    <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>HOME</p>
  <% end %>
  <%= link_to body, root_path %>
</li>

<!-- ABOUT -->
<li class="list-item col-md-2">
  <% body = capture do %>
    <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>ABOUT</p>
  <% end %>
  <%= link_to body, about_path  %>
</li>

<!-- LOGIN -->
<li class="list-item col-md-2">
  <% body = capture do %>
    <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>LOGIN</p>
  <% end %>
  <%= link_to body, new_customer_session_path  %>
</li>

<!-- SIGNUP -->
<li class="list-item col-md-1">
  <% body = capture do %>
    <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>SIGNUP</p>
  <% end %>
  <%= link_to body, new_customer_registration_path  %>
</li>
</div>
